.botao {
    /*box-model*/
    padding: 15px 45px;

    /*bordas*/

    border-radius: 5px;
    /*textos e fontes*/

    text-decoration: none;

    /*cores*/
    background-color: #aaa;
    color: #000;
}

.botao:hover {
    background-color: #d6d9a9;
    transform: scale(1.05);
    color: ;
    box-shadow: 2px 5px 5px #888;
    transition: all .2s;
}


header {
    text background-color: whitesmoke;
    border: 20px;
    padding: 40px;
    margin: 0;
}

main {
    background-color: #007da6;
    font-size: 30px;
}

.lado {}

footer {
    text-align: center;
    background-color: whitesmoke;
}

.main1 {
    text-align: center;
}

h1 {
    text-align: center;
}
ul{
    
}
.lado {
    
}